.app__body {
  display: flex;
  background-color: rgba(228, 169, 223, 0.514);
}
body {
  font-family: "Telex", sans-serif;
}
.app__banner > img {
  position: absolute;
  width: 100%;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
