.chatRooms {
  flex: 0.7;
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 150px;
}

.chatRooms__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}
.chatRooms__channelName {
  display: flex;
}
.chatRooms__channelName {
  text-transform: lowercase;
}
.chatRooms__channelName > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 18px;
}

.chatRooms__headerRight > p {
  display: flex;
  align-items: center;
  font-size: 14px;
}
