.feed {
  height: 100%;
  flex: 1;
  margin-left: 10%;
}
.feed__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-right: 10%;
  list-style: none;
}
.react-tabs__tab {
  background-color: white;
  padding: 2%;
  margin-top: 2%;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #7567ad;
  font-weight: 700;
}
