.login {
  background-color: #7567ad;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__image {
  object-fit: contain;
  height: 180px;
}
.login__container {
  margin-top: 5%;
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  background-color: rgb(223, 215, 215);
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__signInButton {
  margin-bottom: 2%;
  width: 50%;
}
