.post {
  width: 70%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: rgb(158, 158, 241);
  border: 2px solid #7567ad;
  margin: 0 auto;
  margin-bottom: 2%;
}
.post__header {
  display: flex;
  margin-left: 4%;
  margin-top: 2%;
  width: 27%;
  align-items: center;
  justify-content: space-between;
}

.post__timestamp {
  margin-left: 4%;
}
.post__text {
  padding-bottom: 2%;
  margin-left: 4%;
  margin-bottom: 1%;
  margin-top: 2%;
  font-weight: 700;
  border-bottom: 1px solid black;
  width: 90%;
}

.post__image {
  width: 100%;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 20px;
  object-fit: contain;
  max-height: 300px;
}
.post__comments {
  max-height: 220px;
  overflow-y: scroll;
  margin-left: 4%;
  margin-bottom: 2%;
}
.post__input {
  margin-bottom: 2%;
  margin-left: 4%;
  width: 80%;
  height: 30px;
}
