.post {
  width: 70%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: rgb(158, 158, 241);
  border: 2px solid #7567ad;
  margin: 0 auto;
  margin-bottom: 2%;
}
.post__header {
  display: flex;
  margin-left: 4%;
  margin-top: 2%;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
.post__usernameAvatar {
  display: flex;
}
.post__usernameAvatar > h3 {
  margin-left: 4%;
}
.post__middle {
  display: flex;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
}
.post__addLikes {
  width: 50px;
  height: 50px;
}
.post__addLikes .MuiSvgIcon-root {
  width: 40px;
  height: 40px;
  color: red;
  cursor: pointer;
}
.post__addLikes .MuiSvgIcon-root:hover {
  position: relative;
  width: 50px;
  height: 50px;
  transition: 1000ms;
}
.post__timestamp {
  margin-left: 4%;
}
.post__text {
  padding-bottom: 2%;
  margin-left: 4%;
  margin-bottom: 1%;
  margin-top: 2%;
  font-weight: 700;
  border-bottom: 1px solid black;
  width: 90%;
}

.post__image {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 2%;
  border-radius: 20px;
  object-fit: contain;
  max-height: 300px;
  max-width: 500px;
}
.post__comments {
  max-height: 220px;
  overflow-y: scroll;
  margin-left: 4%;
  margin-bottom: 2%;
}
.post__commentRow {
  display: flex;
}
.post__commentAvatar {
  margin-right: 2%;
}
.post__commentText {
  margin-left: 4%;
}
.post__input {
  margin-bottom: 2%;
  margin-left: 4%;
  width: 80%;
  height: 30px;
}

.animate__animated {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

@media only screen and (max-width: 579px) {
  .post__header {
    display: flex;
    flex-direction: column;
  }
}
