.post {
  width: 80%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: rgb(158, 158, 241);
  box-shadow: 10px 10px 7px -7px rgba(0, 0, 0, 0.75);
  border: 2px solid #7567ad;
}

.post__top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
}
.post__authorInfo {
  display: flex;
}
.post__likes {
  display: flex;
}
.post__avatar {
  margin-right: 10px;
}

.post__topInfo > h3 {
  font-size: medium;
}

.post__topInfo > p {
  font-size: small;
  color: gray;
}

.post__bottom {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 25px;
}
.post__bottom > p {
  margin-bottom: 2%;
  font-weight: 600;
  letter-spacing: 0.1em;
  max-height: 200px;
  overflow-y: scroll;
}

.post__image > img {
  width: 100%;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 20px;
  object-fit: contain;
}

.post__options {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: white;
  cursor: pointer;
  padding: 15px;
}

.post__option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
}

.post__option > p {
  margin-left: 10px;
}

.post__option:hover {
  color: white;
  background-color: #7567ad;
  border-radius: 10px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feed {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
