.sidebarOption {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 2px;
  cursor: pointer;
}
.sidebarOption:hover {
  background-color: #7567ad;
  color: white;
  font-weight: 600;
}
.sidebarOption__icon {
  padding: 10px;
  font-size: 15px !important;
}

.sidebarOption__channel {
  max-width: 90%;
  padding: 10px 0;
  overflow-wrap: break-word;
  margin-left: 2%;
}
.sidebarOption__hash {
  padding: 10px;
}
.sidebarOption > h3 {
  font-weight: 500;
}
.sidebarOption__chatRoom {
  background-color: #fff;
  padding: 10%;
}
