.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.Collapsible__trigger {
  font-size: 30px;
}
.Collapsible__contentInner {
  font-size: 20px;
}
.Collapsible__contentInner > p {
  font-size: 10px;
}
.sidebar__inbox {
  display: flex;
  cursor: pointer;
  width: 100%;
}
.sidebar__inbox > .Collapsible {
  width: 100%;
}

.sidebar__rooms {
  display: flex;
  cursor: pointer;
}
.sidebar__rooms > .Collapsible {
  width: 100%;
}

/*  borders for testing */
* {
  border: 1px solid black;
}
